/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1af837de-gvpdukmh version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .title-holder  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .Title  ,  .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 15px;
						
						text-align: center;
						
						max-width: 2000px;
						
						padding-right: 20px;
						
						padding-left: 20px;
						
						padding-top: 15px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgb(221, 221, 221);
						
						margin-left: 0px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .item-content:not(.blocks_layout)  {
		
						background-color: rgb(248, 248, 248);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .inner-pic  {
		
						opacity: 0.1;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: Times New Roman;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .background-div  {
		
						opacity: 0.1;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-title  ,  .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-body h1  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-top: 15px;
						
						margin-bottom: 15px;
						
						line-height: 1.3em;
						
						background-color: rgba(168, 168, 168, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-item-links span  ,  .style-1af837de-l4haezlq .style-1af837de-gvpdukmh #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgb(149, 149, 149);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						padding-top: 20px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgb(11, 60, 93);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .blocks-preview-body  {
		
						margin-bottom: 10px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .stripe-background  {
		
						opacity: 0.25;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-left: -6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						border-color: rgb(166, 166, 166);
						
						width: 60px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .blocks-preview-content-holder  {
		
						margin-bottom: 40px;
						
						text-align: center;
						
						margin-top: 40px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .Subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .blocks-preview-subtitle  {
		
						margin-bottom: 10px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						margin-top: 10px;
						
						text-transform: uppercase;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-item-links span:before  ,  .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .effect-tester  { 
						background-color: rgb(29, 37, 48);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-item-links span:hover  ,  .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(29, 37, 48);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .blocks-preview-title  {
		font-size:calc( 10px + ( 19rem - 10rem ) );
						text-transform: uppercase;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-body  {
		
						line-height: 1.2em;
						font-size:calc( 10px + ( 25rem - 10rem ) );
						color: rgb(30, 30, 30);
						
						max-width: 500px;
						
						margin-top: 30px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	
	 .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-gvpdukmh .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1af837de-yzdz04nh version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-title  ,  .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-body h1  { 
						font-style: italic;
						font-size:calc( 10px + ( 55rem - 10rem ) );
						color: rgb(93, 182, 146);
						
						letter-spacing: 0em;
						
						font-family: 'Times New Roman';
						
						line-height: 0.5em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview.image-cover  {
		
						min-height: 210px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						border-color: rgb(255, 255, 255);
						
						max-width: 850px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(9, 9, 9, 0);
						
						text-align: center;
						
						padding-left: 0px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-item-links span  ,  .style-1af837de-l4haezlq .style-1af837de-yzdz04nh #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						border-width: 1px;
						
						background-color: rgba(63, 83, 103, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-item-links span:hover  ,  .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(24, 45, 66, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .item-content:not(.blocks_layout)  {
		
						background-color: rgb(244, 244, 244);
							
		}
	
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-subtitle-holder  {
		
						max-width: 900px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-body  {
		
						line-height: 1.8em;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(30, 30, 30);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-element.icon-source  {
		
						border-color: rgb(255, 255, 255);
						
						width: 80px;
						
						margin-bottom: 55px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .inner-pic  {
		
						opacity: 0.19;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);	
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .preview-body h2  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 18rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(30, 30, 30);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						line-height: 1.3em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .middle_layout .helper-div  ,  .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-yzdz04nh .background-div  {
		
						opacity: 0.2;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-1af837de-yzdz04nh #vbid-1af837de-xwb3znj4 .preview-content-wrapper{
				
							text-align : center;
					
				}
 .style-1af837de-yzdz04nh #vbid-1af837de-xwb3znj4 .preview-content-holder{
				
							text-align : center;
					
				}

















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1af837de-e3xxwa4h version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-title  ,  .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-body h1  { font-size:calc( 10px + ( 24rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						font-family: HelveNueThinNormal;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(212, 212, 212);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: open-sans;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .inner-pic-holder  {
		
						background-color: rgb(11, 60, 93);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 800px;
						
						margin-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-item-links span  ,  .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgb(221, 221, 221);
						
						letter-spacing: 0.05em;
						
						padding-right: 25px;
						
						margin-top: 30px;
						
						padding-left: 30px;
						
						padding-top: 15px;
						
						font-family: Montserrat;
						
						background-color: rgb(250, 221, 21);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-item-links span:hover  ,  .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .item-content:not(.blocks_layout)  {
		
						background-color: rgb(66, 66, 66);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-item-links span:before  ,  .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .inner-pic  {
		
						opacity: 0.23;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);	
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.0em;
						
						max-width: 700px;
						
						margin-top: 10px;
						
						font-family: Arial;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .middle_layout .helper-div  ,  .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-e3xxwa4h .background-div  {
			
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1af837de-a6xrwiyf version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .background-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-title  ,  .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Oswald;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-link-img  {
		
						width: 30px;
						
						margin: 15px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 500px;
						
						margin-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-item-links span  ,  .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .item-content:not(.blocks_layout)  {
		
						background-color: rgb(29, 37, 48);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 5px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 5px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-element.icon-source  {
		
						padding-right: 0px;
						
						width: 50px;
						
						margin-top: 0px;
						
						padding-left: 0px;
						
						margin-bottom: 0px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .middle_layout .helper-div  ,  .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-a6xrwiyf .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(177, 177, 177);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1af837de-l4haezlq version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-1af837de-l4haezlq .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-1af837de-l4haezlq .Subtitle  ,  .master .style-1af837de-l4haezlq .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-1af837de-l4haezlq .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-1af837de-l4haezlq .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-1af837de-l4haezlq .Title  ,  .master .style-1af837de-l4haezlq .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-1af837de-l4haezlq .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-1af837de-l4haezlq .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-1af837de-l4haezlq .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-1af837de-l4haezlq .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-1af837de-l4haezlq .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-1af837de-l4haezlq .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-1af837de-l4haezlq.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.05em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Montserrat;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: -0.0em;
				
						line-height: 1.2em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - nullpx)!important;
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1af837de-kdgoj7xs version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .title-holder  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .Title  ,  .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(60, 60, 60);
						
						padding-left: 0px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .item-content:not(.blocks_layout)  {
		
						background-color: rgba(90, 64, 64, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-divider  {
		
						border-color: rgb(151, 151, 151);
						
						width: 25%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .inner-pic  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						font-family: Times New Roman;
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .background-div  {
			
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-title  ,  .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-body h1  { 
						line-height: 1.3em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						font-family: 'Times New Roman';
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-item-links span  ,  .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						padding-bottom: 10px;
						
						border-color: rgb(149, 149, 149);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .stripe-background  {
		
						opacity: 0.11;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -40px;
						
						margin-left: -6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-element.icon-source  {
		
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						border-color: rgb(166, 166, 166);
						
						width: 40px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .Subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs.item-box > .item-wrapper   {
		
						max-width: 1000px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-item-links span:hover  ,  .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(133, 133, 133);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-kdgoj7xs .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 11rem - 10rem ) );
						color: rgb(168, 168, 168);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1af837de-vkacomud version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 40px;
						
						text-align: left;
						
						max-width: 800px;
						
						padding-right: 40px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 40px;
						
						margin-bottom: 0px;
						
						background-color: rgb(11, 60, 93);
						
						padding-left: 40px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .item-content:not(.blocks_layout)  {
		
						background-color: rgb(29, 37, 48);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .inner-pic  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-form .Field  {
		
						border-width: 0px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(57, 57, 57);
						
						max-width: 350px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0.89);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-form .Field:hover  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(67, 67, 67);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-title  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-body h1  { font-size:calc( 10px + ( 35rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.05em;
						
						margin-bottom: 5px;
						
						font-family: Abel;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-item-links span  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgb(34, 34, 34);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 15px;
						
						margin-bottom: 30px;
						
						font-family: Montserrat;
						
						background-color: rgb(250, 221, 21);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-form .Field.no-value:not(:hover)  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-item-links span:before  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .effect-tester  { 
						background-color: rgb(29, 37, 48);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-item-links span:hover  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-body  {
		
						font-style: italic;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(250, 221, 21);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .field-holder  {
			
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .middle_layout .helper-div  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-subtitle  ,  .style-1af837de-l4haezlq .style-1af837de-vkacomud .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


 .style-1af837de-vkacomud #vbid-1af837de-5usv34hg.inner-pic{
				
							background-position : 37.1045% 0%, 37.1045% 0%;
					
				}
























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
